<div class="w-full flex flex-col items-center px-4">
  <div class="max-w-4xl w-full">
    <div class="flex flex-col md:flex-row justify-between items-center w-full mb-6">
      <div class="flex flex-col gap-4 text-center md:text-left">
        <h1 class="text-5xl">Your cart</h1>
          <div id="cart-summary">
            <%= render partial: "carts/cart_summary", locals: { cart: @current_cart } %>
          </div>
      </div>

      <% if @current_cart&.cart_items&.any? %>
        <%= link_to "Checkout Now", checkout_cart_path, class: "mt-4 md:mt-0 rounded-lg font-semibold p-4 text-center text-xl bg-yellow-400 hover:bg-yellow-500" %>
      <% else %>
        <%= content_tag :div, "Checkout Now", class: "mt-4 md:mt-0 rounded-lg font-semibold p-4 text-center text-xl bg-yellow-400 hover:bg-yellow-400 brightness-75" %>
      <% end %>
    </div>

    <div id="products" class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 mb-8">
      <% if @current_cart&.products&.any? %>
        <% @current_cart.cart_items.each do |cart_item| %>
          <%= render partial: "carts/cart_item", locals: { product: cart_item.product, cart: @current_cart, cart_item: cart_item } %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= link_to "Sign in to save your cart for later", new_user_session_path, class: "text-lg text-indigo-600 font-semibold border-b-2 border-indigo-200" unless current_user %>
</div>

